.article-cuadro1 {
  padding: 3rem;
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-image: url(/IMG/bucear-con-ballenas-jorobadas.jpg);
  background-size: cover;
  background-position: center;
  margin: 1rem;
  position: relative;
}

.article-cuadro1:hover p {
  display: flex;
}

.article-cuadro1 p {
  display: none;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3rem;
  position: relativa;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  box-sizing: border-box;
}

.article-cuadro1:hover h2 {
  display: flex;
}

.article-cuadro1 h2 {
  display: none;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3rem;
  position: relativa;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .article-cuadro1 {
    width: 100%;
    height: auto;
  }

  .article-cuadro1 p {
    font-size: 1rem;
  }
}

.article-cuadro2{
  background-image: url(/IMG/parapente.jpg);
}
.article-cuadro3{

  background-image: url(/IMG/trekking.jpg);
}
.article-cuadro4{

  background-image: url(/IMG/kayak.jpg);

}
.article-cuadro5{

  background-image: url(/IMG/Guia\ turistico.jpg);

}
.article-cuadro6{

  background-image: url(/IMG/profesor\ de\ buceo.jpg);

}
.article-cuadro7{

  background-image: url(/IMG/profesor\ de\ parapente.png);

}
.article-cuadro8{

  background-image: url(/IMG/profesora\ de\ trekking.jpg);

}
.article-cuadro9{

  background-image: url(/IMG/profesor\ de\ Kayak.jpg);

}

.article-cuadro10{

  background-image: url(/IMG/experiencia-parapente.jpg);

}
.article-cuadro11{

  background-image: url(/IMG/pareja.jpg);

}
.article-cuadro12{

  background-image: url(/IMG/buceo.jpg);

}


