#Footer {
    background: #41c1f4;
    display: block;
    border-top: 2px solid #41c1f4b1;
    margin: 21px 0 0 0;
    height: 60px;
    justify-content: center;
  }
  
  #Footer p {
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 1%;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 400;
  }
  
  @media (max-width: 767px) {
    #Footer {
      height: 50px;
      margin: 20px;
    }
    
    #Footer p {
      font-size: 12px;
      padding-top: 2%;
    }
  }
  .footer-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-social-icons a {
    display: inline-block;
    margin-right: 8px;
    color: white;
    text-decoration: none;
  }
  
  .footer-social-icons a:last-child {
    margin-right: 0;
  }
  
  .footer-social-icons a:hover {
    color: #007bff;
  }
  
  .fa-facebook-f, .fa-instagram, .fa-whatsapp {
    font-size: 22px;
  }
  

