body {
  overflow-x: hidden;
  background-color: 41c1f4;
  background-color:#0ba8e2;
}


/* Estilos para pantallas grandes */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #41c1f4;
}

header > nav {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0px 8px 0 0;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: stretch;
  }
  
  header > nav {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px 0;
  }
}

.inicio {
  background: url("/IMG/playa.jpg") no-repeat center center;
  background-size: cover;
  height: 300px;
  position: relative;
}

.titulo-inicio {
  color: #fff;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.titulos {
  color: white;
}

/* Estilos para la sección 0 */
.seccion0 {
  background-color: #41c1f4;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0;
}

.article-Seccion0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.imagen-seccion0 {
  width: 100px;
  height: 100px;
  margin: 0;
}

@media (min-width: 768px) {
  .article-Seccion0 {
    flex-direction: row;
  }
}


/* Estilos para la sección 1 */
.section1 {
  display: flex;
  flex-wrap: wrap;
  margin: -2px;
  justify-content: space-evenly;
}

.article-1,
.article-2,
.article-3,
.article-4 {
  flex-basis: 100%;
  margin: 10px 0;
}

@media only screen and (min-width: 768px) {
  .article-1,
  .article-2,
  .article-3,
  .article-4 {
    flex-basis: 33.33%;
    margin: 2px 8px 3px 10px;
  }
}

.article-cuadro {
  padding: 41px 112px 101px 67px;
  border: 1px solid transparent;
  border-radius: 30px 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #41c1f4;
  
}

.mi-logo {
  width: 80px;
  height: 80px;
}

.mi-imagen {
  width: 100%;
  height: auto;
}


.seccion2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-seccion2 {
  margin: 10px;
}

.seccion-equipo {
  background: url("/IMG/quipo\ de\ trabajo.jpg") no-repeat center center;
  background-size: cover;
  height: 300px;
  position: relative;
  padding: 30px;
  margin: 2px 8px 0px 8px
}

.titulo-equipo {
  color: #fff;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-register {
  width: 90%;
  max-width: 400px;
  background: #41c1f4;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 30px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.campo-input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid gray;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.boton {
  display: block;
  margin: 12px auto;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  text-align: center;
  padding: 8px 0 16px 0;
}


#Footer {
  background: #41c1f4;
  border-top: 2px solid #41c1f4b1;
  width: 100%;
  margin: 30px;
  height: 70px;
}

#Footer p {
  color: white;
  text-align: center;
  font-size: 16px;
  padding-top: 1%;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 400;
}

@media (max-width: 767px) {
  #Footer {
    height: 50px;
    margin: 20px;
  }
  
  #Footer p {
    font-size: 12px;
    padding-top: 2%;
  }
}

fieldset:disabled {
  pointer-events: revert;
  opacity: revert;
}

